.main-header{
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon-wrapper{
    background-color: #ebebeb;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}