.note-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.note-header h1 {
    color: #2f2f2f;
    margin: 10px 0 10px 0;
}

.note-header h6 {
    color: #cccccc;
    margin: 10px 0 0 0;
    font-size: 13px;
}

.note-header-tag {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    margin-right: 20px;
    cursor: pointer;
}

.side-gadgets {
    display: flex;
}

#title-input{
    outline: none;
    display: block;
    font-size: 2em;
    font-weight: bold;
    border: none;
    padding: 0;
    margin: 0;
}